body{
    background-color: #DDDDF6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.banner {
    background-color: #C0C0F0; 
    color: #C0C0F0; 
    padding: 15px;
    text-align: center;
    z-index: 1000;
    
}

.homepagina {
    position: fixed;
    top: 0;
    left: 0;
    position: absolute;
}

.infopagina {
    position: fixed;
    top: 0;
    right: 0;
    position: absolute;
}

.mediapagina {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.avatar{
   
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 550px;
}

.preorder{
      background-color: black;
      color: white;  
      border-radius: 10px;
      width: 15%;
      height: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto; 
      font-size: xx-large;     
}

.kopen{
    background-color: black;
    color: white;  
    border-radius: 10px;
    width: 15%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large; 
}

a {
    color: inherit;
}

.avatar2{
   max-width: 50%;
}

.infoAvatar{
    position: absolute;
    top: 53%;
    right: 0;
    transform: translate(0, -50%);
    max-width: 49%;
}

.avatarpictures{
    color: #000;
    font-family: Irish Grover;
    font-size: xx-large;
    height: 0px;
    margin-top: 15vh;
}