body{
    background-color: #DDDDF6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.banner {
    background-color: #C0C0F0; 
    color: #C0C0F0; 
    padding: 15px;
    text-align: center;
    z-index: 1000;
    
}

.homepagina {
    position: fixed;
    top: 0;
    left: 0;
    position: absolute;
}

.infopagina {
    position: fixed;
    top: 0;
    right: 0;
    position: absolute;
}

.mediapagina {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.avatar{
   
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 550px;
}

.preorder{
      background-color: black;
      color: white;  
      border-radius: 10px;
      width: 15%;
      height: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto; 
      font-size: xx-large;     
}

.kopen{
    background-color: black;
    color: white;  
    border-radius: 10px;
    width: 15%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large; 
}

a {
    color: inherit;
}

.avatar2{
   max-width: 50%;
}

.infoAvatar{
    position: absolute;
    top: 53%;
    right: 0;
    transform: translate(0, -50%);
    max-width: 49%;
}

.avatarpictures{
    color: #000;
    font-family: Irish Grover;
    font-size: xx-large;
    height: 0px;
    margin-top: 15vh;
}

.mediapagina1{
    margin: 0 5px;
    max-width: 25%;
    height: 250px;
}

.mediapagina2{
    margin: 0 180px;
    max-width: 25%;
    height: 250px;
}

.mediapagina3{
    margin: 0 1px;
    max-width: 25%;
    height: 250px;
}


.watchall{
    background: #D21B1B;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
    border-radius: 20px;

}

.faq{
    background-color: white;
    color: black;  
    border-radius: 10px;
    width: 15%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    font-size: xx-large;  
}

.reviews1{
    background-color: white; 
    height: 230px;
    border-radius: 2%;
    width: 400px;
}

.reviews2{
    background-color: white; 
    height: 210px;
    border-radius: 2%;
    width: 400px;

}

.reviews3{
    background-color: white; 
    height: 230px;
    border-radius: 2%;
    width: 400px; 
    
}

.comment1, .comment2, .comment3{
    text-align: right;        
}

.naam1, .naam2, .naam3{
    text-align: left;
    font-family: Verdana;
}

.reactie1, .reactie2, .reactie3{
    font-size: large;
    font-family: Arial;
}

.image-container {
    position: relative;
    width: 30%; 
    margin: 10px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .watchall1 {
    position: absolute;
    top: 80px;
    left: 0;
  }

  .watchall2{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .watchall3 {
    position: absolute;
    top: 80px; 
    right: 0;
  }

  .watchall4 {
    position: absolute;
    bottom: 80px;
    left: 0;
   
  }

  .watchall5 {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .watchall6 {
    position: absolute;
    bottom: 80px;
    right: 0;
  }



